<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Analysis" ToolsVersion="15.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
  <!-- CA1054: URI parameters should not be strings -->
    <Rule Id="CA1054" Action="None" />
  </Rules>
</RuleSet>